<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/js/gsap-public/minified/gsap.min.js"></script>
    <script src="/static/js/gsap-public/minified/TextPlugin.min.js"></script>
    <script src="/static/js/gsap-public/minified/MotionPathPlugin.min.js"></script>
    <script src="/static/js/gsap-public/minified/Draggable.min.js"></script>
    <link rel="stylesheet" href="/static/css/tests/index.css" />
</head>
<body>
    <header>
        <h1><a  href="/" style="text-decoration: none;">BLTS</a></h1>

        <nav>
            <a href="https://github.com/bolgaro4ka/BLTS">GitHub</a>
            <a href="/admin">Админ-панель</a>
            {% if user.is_authenticated %}
                <button onclick="window.location.href = '/a/logout'">Выйти</button>
            {% else %}
                <button class="register" onclick="window.location.href = '/a/register'">Регистрация</button>
                <button onclick="window.location.href = '/a/login'">Войти</button>
            {% endif %}
            
        </nav>
    </header>
    <main>
        <section class="buttons">
            {% for task in tasks%}
                {% if task in corrects %}
                    <button class="task" style="background-color: #449261;" id="{{task.id}}" onclick="window.location.href = '/t/{{id_test}}/?id_task={{task.id}}&output=embed'">{{forloop.counter}}</button>
                {% else %}
                    <button class="task" id="{{task.id}}" onclick="window.location.href = '/t/{{id_test}}/?id_task={{task.id}}&output=embed'">{{forloop.counter}}</button>
                {% endif %}
            {% endfor %}
            <button class="task">Завершить тест</button>
        </section>
        <section class="iframe__task">
            <iframe src="/t/raw?id_test={{id_test}}&id_task={{id_task}}"></iframe>
        </section>
        <form id="ans_form" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" id="ans_btn" >Submit</button>
        </form>
        
    </main>
    
</body>
</html>