<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLTS</title>
    <link rel="stylesheet" href="/static/css/tests/index.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <style>
        p {
            margin: 0;
        }
    </style>


</head>
<body>
    <header>
        <h1><a  href="/" style="text-decoration: none;">BLTS</a></h1>

        <nav>
            <a href="https://github.com/bolgaro4ka/BLTS">GitHub</a>
            <a href="/admin">Админ-панель</a>
            <a href="/s">Сессии</a>
            <a href="/t">Тесты</a>
            {% if user.is_authenticated %}
                <button onclick="window.location.href = '/a/logout'">Выйти</button>
            {% else %}
                <button class="register" onclick="window.location.href = '/a/register'">Регистрация</button>
                <button onclick="window.location.href = '/a/login'">Войти</button>
            {% endif %}
            
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1 style="color: #f27d5f;">Тест завершен</h1>
            <p>Ваш результат: {{res}}</p>
            <div class="login__links" style="display: flex; gap: 20px;">
                <a href="/a/login" style="width: 100px;">Вход</a>
                <p style="width: 10px;">|</p>
                <a style="width: 100px;" href="/">На главную</a>
            </div>
        </section>
    </main>
</body>
</html>