@import '../common.scss';

* {
    box-sizing:border-box;
}
body{
    background-color: $background-color;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    transition: 0.3s;
    nav {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: white;
    }

    h1 {
        color: white;
    }

    

    
}

main {
    padding: 10px;
}

.task {
    padding: 10px 20px;
    font-size: 110%;
}

.iframe__task {
    
    @include centering;
    margin-top: 20px;

    iframe {
        border-radius: 15px;
        padding: 10px;
        width: 100%;
        height: 60vh;
    border: none;}
}

p {
    width: 80%;
    align-self: center;
    margin: 0;
    border: none;
    border-radius: 8px;
    margin-right: 1vw;
}

#answer {
    width: 100%;
    align-self: center;
    margin: 0;
    border-radius: 8px;
    margin-right: 1vw;
}

#ans_btn {
    width: 20%;
}

#ans_form {
    @include centering;
    margin-top: 20px;
    padding: 0 1.3vw;
    
}

.b-main__content {
    display: flex;
    height: 68vh;
    .content {
        width: 49vw;
        margin-right: 2vw;
    }
    #ans_form {
        justify-content:start !important;
        padding: 0;
    }

    form {
        height: 100%;
        width: 49vw;
        
        flex-direction: column;

        .iframe__task {
            
            margin-top: 0 !important;
        }

        #answer,p {
            width: 100%;
            margin-top: 0 !important;
            height: 58vh;
            margin: 0;
            margin-bottom: 20px;
            margin-top: 10px !important;
            
        }

        #ans_btn {
            width: 100%;
            margin: 0;
        }

        
    }
}